@font-face {
  font-family: "kalpurush";
  src: url("/fonts/kalpurush.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "kalpurush";
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}

.nav-item .nav-link{
    font-family: "kalpurush";
    font-size: 20px;
    font-weight: 400;
    padding: 0 !important;
    padding: 0 20px !important;
    transition: all linear 0.3s;
    position: relative;
    color: white;
}
.nav-item .nav-link:after{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 1.5px;
background-color: green;
transition: all linear 0.3s;
}

.navbar-toggler button{
    background-color: white;
}
.nav-item .nav-link:hover:after{
width: 100%;
}

.navbar-collapse button {
    border: 2px solid rgba(54, 163, 125, 1);
    background-color: white;
    display: flex;
    align-items: center;
    font-family: "kalpursh";
    font-size: 20px;
    font-weight: 400;
    color: green;
    column-gap: 12px;
    padding: 0 !important;
    padding: 11px 20px !important;
}
.navbar-collapse button:hover{
    border: 2px solid rgba(54, 163, 125, 1);
    background-color: white;
}